//_______Vendors_________\\
@import 'vendors/reactslick/slick';
@import 'vendors/reactslick/slick-theme';


//________Abstract__________\\
@import 'abstract/variables';

//_______Base____________\\
@import 'base/base';

//_______Components____________\\
@import 'components/newpropertycard';
@import 'components/property/adminbar';
@import 'components/property/agentinfo';
@import 'components/property/imageslide';
@import 'components/property/propertyfeatures';
@import 'components/property/propertymap';
@import 'components/property/topbar';
@import 'components/prpcard';
@import 'components/search/homelist';
@import 'components/search/searchfilters';
@import 'components/search/searchmap';

// ____Pages_____\\
@import 'pages/addlead';
@import 'pages/hotsheet';
@import 'pages/leadprofile';
@import 'pages/login';
@import 'pages/newproperties';
@import 'pages/property';
@import 'pages/propertyurlsearch';
@import 'pages/searchpage';

.topbar_input {
    width: 550px;
}


// Temp Leads Page
.customer-badge {
    border-radius: 2px;
    padding: 0.25em 0.5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;
}

.customer-badge.status-watch {
    background-color: #feedaf;
    color: #8a5340;
}

.customer-badge.status-qualify {
    background-color: #c8e6c9;
    color: #256029;
}

.customer-badge.status-hot {
    background-color: #ffcdd2;
    color: #c63737;
}

.customer-badge.status-nurture {
    background-color: #eccfff;
    color: #694382;
}

.customer-badge.status-new {
    background-color: #b3e5fc;
    color: #23547b;
}

.customer-badge.status-closed {
    background-color: #ffd8b2;
    color: #805b36;
}
