// COLORS
// DARK THEME
$dark-theme-text-primary: #FAFAFA;
$dark-theme-text-secondary: #E8E8E8;
$dark-theme-background-darkest: #222222;
$dark-theme-background-dark: #343434;
$dark-theme-background-light: #676767;
$dark-theme-box-shadow: rgba(117, 117, 117, 0.7);

$watch-color: #c58c33;
$hot-color: #f75117;
$qualify-color: #81a441;
$new-color: #e9b929;
$nurture-color: #1581e2;
$trash-color: #444444;
$archive-color: #744cac;
$pending-color: #db85ac;
$closed-color: #4faf92;


$color-light-blue: #03A9F4;
$color-blue: #2196F3;
$color-cyan: #00BCD4;
$color-flourescent-red: #ff5252;
$color-green: #4CAF50;
$color-white: #fff;
$color-black: #000000;

//COLORS-Grey
$color-blue-grey: #607D8B;
$color-blue-grey-dark: #353b48;
$color-grey-light: #dcdde1;
$color-grey: #757575;
$color-grey-dark: #424242;
