.new__properties {

    &__header {
        display: flex;
        flex-direction: column;
        height: 9rem;
        padding: 1rem;
        max-width: 25rem;
    }

    &__duplicates__button {
        margin-top: .25rem;
        max-width: 14rem;
        font-size: 1.5rem;
        padding: .25rem;
    }

    &__container {
        max-height: calc(100vh - 60px);
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        padding: 1rem 0;
        @media (max-width: 1200px) {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}
