.property__page {
    padding-bottom: 40px;
    max-height: calc(100vh - 60px);
    overflow-y: scroll;
    

    &__container {
        margin: 0 auto;
        max-width: 1200px;

        @media (max-width: 1600px) {
            max-width: 900px;
        }

        @media (max-width: 1300px) {
            max-width: 700px;
        }

        @media (max-width: 768px) {
            width: 100%;
            max-width: 100%;
            padding: 0 16px;
            box-sizing: border-box;
        }
    }

    &__features__question {
        padding: 2rem 0;
        margin-top: 4.5rem;
        border-top: 1px solid hsl(var(--border));
        border-bottom: 1px solid hsl(var(--border));

        @media (max-width: 1000px) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        @media (max-width: 768px) {
            margin-top: 1.5rem;
            padding: 1rem 0;
        }
    }
}
